.bg-secondary {
  background-color: #000000 !important;
}

.copyright {
  background-color: #000000;
}

.bg-primary {
  background-color: #df4f02 !important;
}

nav{
  font-weight: 700;
}

.img-card{
  height: 18vw;
  object-fit: cover;
}
