.bg-secondary {
  background-color: #043263 !important;
}

.copyright {
  background-color: #004481;
}

.bg-primary {
  background-color: #1973b8 !important;
}

nav{
  font-weight: 700;
}

.img-card{
  height: 18vw;
  object-fit: cover;
}
